@charset "utf-8";
@import "https://fonts.googleapis.com/css?family=Abel";

html{
	font-size:68.5%;
}
body{
	font-family:"游ゴシック",YuGothic,"メイリオ",Verdana,"Hiragino Kaku Gothic ProN", Meiryo,sans-serif;
	font-size:1.4rem;
	line-height:1.6;
	letter-spacing:1em;
	color:#4c4c4c;
	background-color:fdfcf6;
}


/*個別*/
img{
	height:500px;
	max-width:100%;
}

h2{

}

#main{



	.text-center 
	{
		text-align:center;
		p{
			display:float;
		}
	}
	.container{
		width:90%;
		margin:0 auto;
		display:flex;
		justify-content:center;
		flex-direction:row;
		padding:10px 0;
		border:2px dotted red;
		.content-box-inner{
				border:2px solid green;
				margin:0 auto;
				box-sizing:border-box;
				h3{
					background-color:yellow;
				}
				p{
					background-color:blue;
				}
		}
	}
}

footer{
	display:flex;
	.text-center{
	text-align:center;
	p{
		margin-bottom:2%;
	}
	.button{
			border:1px solid brack;
			color:red;
			text-align:center;
			border-radius:20%;
			}	
	}
}

@media(max-width:768px){
	img{
		height:250px;
	}
	#main .container{
		flex-direction:column;
	}
}