@charset "utf-8";
@import "https://fonts.googleapis.com/css?family=Abel";

html{
	font-size:68.5%;
}
body{
	font-family:"游ゴシック",YuGothic,"メイリオ",Verdana,"Hiragino Kaku Gothic ProN", Meiryo,sans-serif;
	font-size:1.4rem;
	line-height:1.6;
	color:#4c4c4c;
	background-color:fdfcf6;
}


/*個別*/
.flex-image{
	background-image:url("../images/img_header.jpg");
	background-size:cover;
	background-position: center center;
}

h2{

}

#main{


	.title-box{
		margin:60px 0;
	}
	.text-center{ 
		text-align:center;
			display:float;
				}
	
	.container{
		width:90%;
		margin:0 auto;
		display:flex;
		justify-content:center;
		flex-direction:row;
		padding:10px 0;
		.content-box-inner{
				width:30%;
				border:2px solid green;
				margin:0 auto;
				box-sizing:border-box;
				.title{
					padding:30px 0;
					background-color:gray;
				}
				.content-box{
					background-color:fdfcf6;
					padding:80px 0;
				}
		}
	}
}

footer{
	display:flex;
	.text-center{
	text-align:center;
	p{
		margin-bottom:2%;
	}
	.button{
			border:1px solid brack;
			color:red;
			text-align:center;
			border-radius:20%;
			}	
	}
}
@media(min-width:769px){
	.flex-image{
		height:500px;
	}
}
@media(max-width:768px){
	.flex-image{
		height:250px;
	}

	#main .container{
		flex-direction: column;
		.content-box-inner{
			width:100%;
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
}
